.m{
	position : absolute;
	height :auto;
	width : auto;
}
#user{
	background-image : url("img/user.jpg");
	top : 18px;
	right : 0px;
}

#basic{
	background-image : url("img/basic.jpg");
	top : 111px;
	left : 18px;

}

#food{
	background-image : url("img/food.jpg");
	top: 111px;
	right: 18px;
}

#picture{
	background-image : url("img/picture.jpg");
	top:234px;
	left: 18px;
}

#bed{
	background-image : url("img/bed.jpg");
	top : 234px;
	right : 18px;
}

#shopping{
	background-image : url("img/shopping.jpg");
	top : 357px;
	left : 18px;
}

#bus{
	background-image : url("img/bus.jpg");
	top : 357px;
	right : 18px;
}








